In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
import statsmodels.formula.api as sm

In [3]:
df = pd.read_csv("Demand.csv",index_col=0)

FileNotFoundError: File b'Demand.csv' does not exist

In [113]:
df.head()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,2018-07-31,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,2018-07-31,368,602.0,0.05,584.329105,0.027237,1.05,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,2018-07-31,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,2018-07-31,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,2018-07-31,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52

In [114]:
df.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

In [115]:
df['Mapped_Item_Code'] = df['Mapped_Item_Code'].astype(str)

In [116]:
df['Transaction_Date'] = pd.to_datetime(df['Transaction_Date'])

In [150]:
df['Transaction_Date'].min()

Timestamp('2016-08-01 00:00:00')

In [1]:
df = df.loc[(df['Transaction_Date'] >= '2016-08-01'), :]

NameError: name 'df' is not defined

In [118]:
df.columns

Index(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date',
       'Quantity_Sold', 'Median_Price', 'Average_Tax_Percent',
       'Effective_Price', 'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items', 'Year', 'Month', 'Day',
       'Car_sales', 'F_and_B_Inflation',
       'F_and_B_Inflation_Adjusted_Effective_Price',
       'F_and_B_Inflation_Adjusted_Median_Price',
       'First_Week_Of_The_Month_Dummy', 'Last_Week_Of_The_Month_Dummy',
       'Day_Of_The_Week_Seasonality', 'Month_Of_The_Year_Seasonality',
       'Two_Wheeler_sales'],
      dtype='object')

In [119]:
df['Mapped_Sales_Type'].unique()

array(['Take Away', 'Main Hall', 'Express', 'Delivery', 'Dine-in', 'Bakery'], dtype=object)

In [120]:
# df['Avg_Discount_Percent_On_Discounted_Items'] = np.where(df['P*Q'].notnull(), (df['Discount_Amount']/df['P*Q'])*df['Tax%'] , np.nan )

In [121]:
df = df.loc[df['Avg_Discount_Percent_On_Discounted_Items'] < 1.0, :]

In [122]:
df.loc[df['Avg_Discount_Percent_On_Discounted_Items'] >= 1.0]

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales]
Index: []

[0 rows x 22 columns]

In [123]:
dict_aggr1 = {'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}

In [124]:
df_agg = df.groupby(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date']).agg(dict_aggr1).reset_index()

In [125]:
df_agg[:3]

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Effective_Price
0,Hyderabad,Bakery,4059,2018-06-14,109,359.0,314.27
1,Hyderabad,Bakery,4060,2018-06-14,110,378.0,332.22
2,Hyderabad,Bakery,4063,2018-06-14,110,732.0,666.76

In [126]:
df.loc[df['Median_Price'].isnull()]

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales]
Index: []

[0 rows x 22 columns]

In [127]:
df.loc[df['Effective_Price'].notnull()].head()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52

In [128]:
df.loc[(df['City'] == 'Hyderabad') & (df['Mapped_Sales_Type'] == 'Delivery'), :].head()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
42,Hyderabad,Delivery,4058,2018-07-31,532,272.0,0.05,252.660214,0.014252,0.105008,...,Tue,7559.28,143.7,1.452054,1.384830,0,1,0.72,1.06,37307.52
46,Hyderabad,Delivery,4064,2018-07-31,261,682.0,0.05,683.031933,0.006667,0.105008,...,Tue,7559.28,143.7,4.446986,4.237996,0,1,0.76,1.06,37307.52

In [129]:
df.loc[df['Day'].isin(['Mon', 'Tue']), :].head()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52

In [130]:
df.loc[df['Percent_Quantity_With_Discount'] != 0.0, :].head()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52

In [131]:
df.columns

Index(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date',
       'Quantity_Sold', 'Median_Price', 'Average_Tax_Percent',
       'Effective_Price', 'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items', 'Year', 'Month', 'Day',
       'Car_sales', 'F_and_B_Inflation',
       'F_and_B_Inflation_Adjusted_Effective_Price',
       'F_and_B_Inflation_Adjusted_Median_Price',
       'First_Week_Of_The_Month_Dummy', 'Last_Week_Of_The_Month_Dummy',
       'Day_Of_The_Week_Seasonality', 'Month_Of_The_Year_Seasonality',
       'Two_Wheeler_sales'],
      dtype='object')

In [132]:
df['Range'] = np.where(df['Effective_Price']>500, 1, 0.5)

In [133]:
df.head()

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Range
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52,0.5
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52,1.0
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52,0.5
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52,0.5
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52,1.0

In [134]:
df.columns

Index(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date',
       'Quantity_Sold', 'Median_Price', 'Average_Tax_Percent',
       'Effective_Price', 'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items', 'Year', 'Month', 'Day',
       'Car_sales', 'F_and_B_Inflation',
       'F_and_B_Inflation_Adjusted_Effective_Price',
       'F_and_B_Inflation_Adjusted_Median_Price',
       'First_Week_Of_The_Month_Dummy', 'Last_Week_Of_The_Month_Dummy',
       'Day_Of_The_Week_Seasonality', 'Month_Of_The_Year_Seasonality',
       'Two_Wheeler_sales', 'Range'],
      dtype='object')

In [135]:
x = df[['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent',
       'Effective_Price', 'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation',
       'F_and_B_Inflation_Adjusted_Effective_Price',
       'F_and_B_Inflation_Adjusted_Median_Price']]

In [136]:
y= df['Quantity_Sold']

In [137]:
from sklearn.linear_model import LinearRegression

In [138]:
lr = LinearRegression()

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 123)

In [141]:
lr = LinearRegression()

In [142]:
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [143]:
y_pred = lr.predict(x_test)

In [144]:
from sklearn import metrics

In [145]:
metrics.mean_absolute_error(y_test, y_pred)

317.11283831381604

In [146]:
#Ordinary least squares

In [147]:
import statsmodels.formula.api as sm

In [148]:
ols_output = sm.OLS(y, x.astype(float)).fit()

In [149]:
ols_output.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Quantity_Sold   R-squared:                       0.739
Model:                            OLS   Adj. R-squared:                  0.739
Method:                 Least Squares   F-statistic:                     2519.
Date:                Tue, 30 Apr 2019   Prob (F-statistic):               0.00
Time:                        21:15:10   Log-Likelihood:                -67530.
No. Observations:                8902   AIC:                         1.351e+05
Df Residuals:                    8892   BIC:                         1.352e+05
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Mapped_Item_Code                              -0.1602      0.004    -41.915      0.000      -0.168      -0.153
Median_Price                                  -1.8539      8.112     -0.229      0.819     -17.754      14.047
Average_Tax_Percent                        -1925.7522    145.180    -13.265      0.000   -2210.339   -1641.166
Effective_Price                               -0.3288      6.761     -0.049      0.961     -13.582      12.924
Percent_Quantity_With_Discount               -46.1437     30.000     -1.538      0.124    -104.950      12.663
Avg_Discount_Percent_On_Discounted_Items     755.2340     24.265     31.125      0.000     707.670     802.798
Car_sales                                     -0.0124      0.007     -1.697      0.090      -0.027       0.002
F_and_B_Inflation                             13.4197      2.130      6.299      0.000       9.244      17.596
F_and_B_Inflation_Adjusted_Effective_Price   150.5045    952.429      0.158      0.874   -1716.475    2017.484
F_and_B_Inflation_Adjusted_Median_Price       -7.1866   1143.171     -0.006      0.995   -2248.065    2233.692
==============================================================================
Omnibus:                     2489.636   Durbin-Watson:                   1.894
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8969.941
Skew:                           1.375   Prob(JB):                         0.00
Kurtosis:                       7.077   Cond. No.                     2.36e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.36e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""