In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
import statsmodels.formula.api as sm

In [2]:
#1)i)	Read the dataset, print last 3 observations 

df = pd.read_csv("Demand.csv",index_col=0)
df.tail(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
30228,Hyderabad,Dine-in,964,2016-08-01,140,933.0,0.21,1063.855517,NaN,NaN,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.4
30229,Hyderabad,Take Away,4066,2016-08-01,179,501.0,0.14,534.060000,NaN,NaN,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.4
30230,Hyderabad,Delivery,4061,2016-08-01,117,716.5,0.15,780.810000,NaN,NaN,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.4

In [3]:
#1)ii)Find the data types of each column
df.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

In [4]:
#2)â€¢	Convert the data type of â€˜Mapped_Item_Codeâ€™ field to object
#	Hint: use .astype(str) for the data type conversion
df["Mapped_Item_Code"]=df["Mapped_Item_Code"].astype(str)
df["Mapped_Item_Code"]

0        9978
1        4064
2         965
3        9978
4        1045
5        4056
6        4065
7        4058
8        4057
9        4056
10       4061
11       4055
12       4061
13       9978
14        979
15       4066
16        978
17       4062
18        971
19        970
20        966
21       4068
22       4063
23       4057
24        965
25        964
26       4068
27       4066
28       4065
29        966
         ...
30201     978
30202    4061
30203     966
30204     979
30205    4060
30206    4063
30207     978
30208    4057
30209     965
30210    4058
30211     971
30212     970
30213     965
30214    4064
30215     965
30216    4065
30217    4059
30218    4056
30219    4059
30220    4068
30221    4066
30222     970
30223     971
30224    4062
30225    4063
30226    4056
30227    4058
30228     964
30229    4066
30230    4061
Name: Mapped_Item_Code, Length: 30231, dtype: object

In [5]:
#3)â€¢	Convert the field â€˜Transaction_Dateâ€™ to datetime (Date) column
#	Hint: use pd.to_datetime for conversion
df["Transaction_Date"]=pd.to_datetime(df["Transaction_Date"])
df["Transaction_Date"]

0       2018-07-31
1       2018-07-31
2       2018-07-31
3       2018-07-31
4       2018-07-31
5       2018-07-31
6       2018-07-31
7       2018-07-31
8       2018-07-31
9       2018-07-31
10      2018-07-31
11      2018-07-31
12      2018-07-31
13      2018-07-31
14      2018-07-31
15      2018-07-31
16      2018-07-31
17      2018-07-31
18      2018-07-31
19      2018-07-31
20      2018-07-31
21      2018-07-31
22      2018-07-31
23      2018-07-31
24      2018-07-31
25      2018-07-31
26      2018-07-31
27      2018-07-31
28      2018-07-31
29      2018-07-31
           ...
30201   2016-08-01
30202   2016-08-01
30203   2016-08-01
30204   2016-08-01
30205   2016-08-01
30206   2016-08-01
30207   2016-08-01
30208   2016-08-01
30209   2016-08-01
30210   2016-08-01
30211   2016-08-01
30212   2016-08-01
30213   2016-08-01
30214   2016-08-01
30215   2016-08-01
30216   2016-08-01
30217   2016-08-01
30218   2016-08-01
30219   2016-08-01
30220   2016-08-01
30221   2016-08-01
30222   2016-08-01
30223   2016-08-01
30224   2016-08-01
30225   2016-08-01
30226   2016-08-01
30227   2016-08-01
30228   2016-08-01
30229   2016-08-01
30230   2016-08-01
Name: Transaction_Date, Length: 30231, dtype: datetime64[ns]

In [40]:
#4)â€¢	Extract only those records whose transaction date is greater than or equal to â€˜2017-01-01â€™ and proceed with below operations
#	Hint: use .loc operator
# df=df.loc[df['Transaction_Date'] >= "2017-01-01"]   #df should be assigned with the condition so that the change takes place in dataframe
df = df.loc[(df['Transaction_Date'] >= '2016-08-01'), :]
df

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Range
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52,0.5
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52,1.0
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52,0.5
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52,0.5
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52,1.0
34,Hyderabad,Take Away,4060,2018-07-31,267,378.0,0.05,364.051923,0.006410,0.105016,...,7559.28,143.7,2.227223,2.122477,0,1,0.82,0.91,37307.52,0.5
35,Hyderabad,Take Away,4059,2018-07-31,395,359.0,0.05,344.194296,0.003521,0.105000,...,7559.28,143.7,2.089035,1.990257,0,1,0.81,0.91,37307.52,0.5
42,Hyderabad,Delivery,4058,2018-07-31,532,272.0,0.05,252.660214,0.014252,0.105008,...,7559.28,143.7,1.452054,1.384830,0,1,0.72,1.06,37307.52,0.5
46,Hyderabad,Delivery,4064,2018-07-31,261,682.0,0.05,683.031933,0.006667,0.105008,...,7559.28,143.7,4.446986,4.237996,0,1,0.76,1.06,37307.52,1.0
49,Hyderabad,Take Away,4055,2018-07-30,1171,263.0,0.05,243.104774,0.002830,0.735000,...,7559.28,143.7,1.385559,1.322199,0,1,0.75,0.91,37307.52,0.5
52,Hyderabad,Dine-in,966,2018-07-30,1101,392.0,0.05,378.493636,0.004040,0.360165,...,7559.28,143.7,2.327722,2.219903,0,1,0.83,1.09,37307.52,0.5
58,Hyderabad,Dine-in,965,2018-07-30,1883,362.0,0.05,347.205525,0.002822,0.309550,...,7559.28,143.7,2.109990,2.011134,0,1,0.83,1.09,37307.52,0.5
59,Hyderabad,Take Away,4060,2018-07-30,207,378.0,0.05,363.924583,0.010417,0.105016,...,7559.28,143.7,2.226337,2.122477,0,1,0.72,0.91,37307.52,0.5
62,Hyderabad,Delivery,4068,2018-07-30,139,622.0,0.05,618.399286,0.035714,0.105009,...,7559.28,143.7,3.997211,3.820459,0,1,0.65,1.06,37307.52,1.0
66,Hyderabad,Dine-in,970,2018-07-30,598,312.0,0.05,294.765442,0.006160,0.130907,...,7559.28,143.7,1.745062,1.663187,0,1,0.83,1.09,37307.52,0.5
67,Hyderabad,Dine-in,971,2018-07-30,269,312.0,0.05,294.800190,0.006329,0.104979,...,7559.28,143.7,1.745304,1.663187,0,1,0.79,1.09,37307.52,0.5
75,Hyderabad,Delivery,4065,2018-07-30,133,752.0,0.05,750.476818,0.090909,0.105007,...,7559.28,143.7,4.916331,4.725122,0,1,0.60,1.06,37307.52,1.0
77,Hyderabad,Delivery,4056,2018-07-30,485,322.0,0.05,305.108823,0.013369,0.105004,...,7559.28,143.7,1.817041,1.732777,0,1,0.72,1.06,37307.52,0.5
84,Hyderabad,Dine-in,978,2018-07-30,209,1172.0,0.05,1196.499388,0.010204,0.130209,...,7559.28,143.7,8.020177,7.647878,0,1,0.79,1.09,37307.52,1.0
88,Hyderabad,Delivery,4064,2018-07-30,230,682.0,0.05,680.233950,0.050420,0.105005,...,7559.28,143.7,4.427515,4.237996,0,1,0.61,1.06,37307.52,1.0
89,Hyderabad,Delivery,4058,2018-07-30,473,272.0,0.05,252.668923,0.013812,0.105005,...,7559.28,143.7,1.452115,1.384830,0,1,0.71,1.06,37307.52,0.5
94,Hyderabad,Delivery,4061,2018-07-30,128,942.0,0.05,951.091177,0.058824,0.105006,...,7559.28,143.7,6.312395,6.047321,0,1,0.61,1.06,37307.52,1.0
97,Hyderabad,Delivery,4060,2018-07-30,218,442.0,0.05,431.095701,0.009346,0.105014,...,7559.28,143.7,2.693777,2.567850,0,1,0.69,1.06,37307.52,0.5
103,Hyderabad,Take Away,4055,2018-07-29,2290,263.0,0.05,241.915126,0.027994,0.290902,...,7559.28,143.7,1.377280,1.322199,0,1,1.52,0.91,37307.52,0.5
107,Hyderabad,Take Away,4064,2018-07-29,690,602.0,0.05,598.403592,0.003454,0.577505,...,7559.28,143.7,3.858063,3.681280,0,1,1.87,0.91,37307.52,1.0
108,Hyderabad,Delivery,4060,2018-07-29,469,442.0,0.05,431.242095,0.005587,0.105000,...,7559.28,143.7,2.694795,2.567850,0,1,1.57,1.06,37307.52,0.5
109,Hyderabad,Dine-in,965,2018-07-29,3299,362.0,0.05,347.152999,0.004078,0.258467,...,7559.28,143.7,2.109624,2.011134,0,1,1.39,1.09,37307.52,0.5
115,Hyderabad,Delivery,4062,2018-07-29,141,1022.0,0.05,1037.136667,0.033333,0.105005,...,7559.28,143.7,6.911181,6.604036,0,1,1.42,1.06,37307.52,1.0
117,Hyderabad,Dine-in,979,2018-07-29,221,1222.0,0.05,1248.265909,0.018182,0.105000,...,7559.28,143.7,8.380417,7.995825,0,1,1.51,1.09,37307.52,1.0
124,Hyderabad,Delivery,4061,2018-07-29,190,942.0,0.05,955.302532,0.012658,0.105006,...,7559.28,143.7,6.341702,6.047321,0,1,1.31,1.06,37307.52,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30110,Hyderabad,Take Away,4055,2016-08-04,1126,230.0,0.15,222.687892,0.010837,0.634957,...,8033.92,140.1,1.275431,1.120628,1,0,0.80,0.99,27870.40,0.5
30114,Hyderabad,Dine-in,964,2016-08-04,139,933.0,0.21,1068.087857,0.035714,0.120500,...,8033.92,140.1,7.309692,6.138473,1,0,0.79,0.94,27870.40,1.0
30119,Hyderabad,Dine-in,965,2016-08-03,1597,317.0,0.20,333.196440,0.004711,0.275422,...,8033.92,140.1,2.064214,1.741613,1,0,0.98,0.94,27870.40,0.5
30120,Hyderabad,Take Away,4055,2016-08-03,1425,230.0,0.15,223.036438,0.005327,0.875105,...,8033.92,140.1,1.277919,1.120628,1,0,1.02,0.99,27870.40,0.5
30121,Hyderabad,Dine-in,979,2016-08-03,173,1029.0,0.21,1187.601613,0.016129,0.120502,...,8033.92,140.1,8.162752,6.823697,1,0,0.99,0.94,27870.40,1.0
30126,Hyderabad,Dine-in,971,2016-08-03,213,273.0,0.20,281.550490,0.009804,0.120500,...,8033.92,140.1,1.695578,1.427552,1,0,0.92,0.94,27870.40,0.5
30136,Hyderabad,Take Away,4058,2016-08-03,793,212.8,0.14,203.530381,0.005865,0.658369,...,8033.92,140.1,1.138689,0.997859,1,0,0.78,0.99,27870.40,0.5
30138,Hyderabad,Take Away,4066,2016-08-03,204,501.0,0.14,532.479140,0.032258,0.114502,...,8033.92,140.1,3.486646,3.054961,1,0,0.94,0.99,27870.40,1.0
30141,Hyderabad,Dine-in,978,2016-08-03,224,989.0,0.21,1140.542920,0.008850,0.120502,...,8033.92,140.1,7.826859,6.538187,1,0,0.98,0.94,27870.40,1.0
30144,Hyderabad,Dine-in,966,2016-08-03,1027,327.0,0.20,345.780022,0.016376,0.176735,...,8033.92,140.1,2.154033,1.812991,1,0,1.01,0.94,27870.40,0.5
30152,Hyderabad,Dine-in,970,2016-08-03,539,273.0,0.20,281.205117,0.018692,0.316312,...,8033.92,140.1,1.693113,1.427552,1,0,0.76,0.94,27870.40,0.5
30155,Hyderabad,Take Away,4060,2016-08-02,313,309.0,0.15,314.086238,0.004950,0.114492,...,8033.92,140.1,1.927810,1.684511,1,0,0.82,0.99,27870.40,0.5
30165,Hyderabad,Dine-in,979,2016-08-02,166,1029.0,0.21,1176.683455,0.072727,0.148596,...,8033.92,140.1,8.084821,6.823697,1,0,0.86,0.94,27870.40,1.0
30167,Hyderabad,Take Away,4056,2016-08-02,806,239.0,0.14,233.194863,0.005755,0.915994,...,8033.92,140.1,1.350427,1.184868,1,0,0.89,0.99,27870.40,0.5
30169,Hyderabad,Dine-in,964,2016-08-02,145,933.0,0.21,1065.566471,0.029412,0.120500,...,8033.92,140.1,7.291695,6.138473,1,0,0.84,0.94,27870.40,1.0
30174,Hyderabad,Dine-in,978,2016-08-02,215,989.0,0.21,1133.900000,0.028846,0.120502,...,8033.92,140.1,7.779443,6.538187,1,0,0.83,0.94,27870.40,1.0
30176,Hyderabad,Take Away,4062,2016-08-02,164,693.0,0.14,751.890943,0.018868,0.171758,...,8033.92,140.1,5.052755,4.425410,1,0,0.82,0.99,27870.40,1.0
30177,Hyderabad,Dine-in,971,2016-08-02,236,273.0,0.20,280.696880,0.032000,0.120497,...,8033.92,140.1,1.689485,1.427552,1,0,0.83,0.94,27870.40,0.5
30181,Hyderabad,Dine-in,965,2016-08-02,1488,317.0,0.20,332.166267,0.026870,0.123754,...,8033.92,140.1,2.056861,1.741613,1,0,0.89,0.94,27870.40,0.5
30184,Hyderabad,Dine-in,966,2016-08-02,940,327.0,0.20,345.136586,0.027744,0.144357,...,8033.92,140.1,2.149440,1.812991,1,0,0.92,0.94,27870.40,0.5
30185,Hyderabad,Take Away,965,2016-08-02,113,230.0,0.15,205.790000,1.000000,0.114490,...,8033.92,140.1,1.154818,1.120628,1,0,1.21,0.99,27870.40,0.5
30186,Hyderabad,Dine-in,970,2016-08-02,516,273.0,0.20,280.739704,0.039506,0.195813,...,8033.92,140.1,1.689791,1.427552,1,0,0.80,0.94,27870.40,0.5
30187,Hyderabad,Take Away,4059,2016-08-02,519,300.0,0.15,303.790980,0.004902,0.114493,...,8033.92,140.1,1.854325,1.620271,1,0,0.81,0.99,27870.40,0.5
30194,Hyderabad,Take Away,4057,2016-08-01,230,212.8,0.14,201.245210,0.025210,0.801502,...,8033.92,140.1,1.122378,0.997859,1,0,0.71,0.99,27870.40,0.5
30197,Hyderabad,Dine-in,966,2016-08-01,875,327.0,0.20,345.220654,0.015707,0.180748,...,8033.92,140.1,2.150040,1.812991,1,0,0.83,0.94,27870.40,0.5
30198,Hyderabad,Take Away,4055,2016-08-01,1290,230.0,0.15,222.456760,0.010178,0.820589,...,8033.92,140.1,1.273781,1.120628,1,0,0.75,0.99,27870.40,0.5
30201,Hyderabad,Dine-in,978,2016-08-01,213,989.0,0.21,1135.791961,0.009804,0.120502,...,8033.92,140.1,7.792948,6.538187,1,0,0.79,0.94,27870.40,1.0
30212,Hyderabad,Dine-in,970,2016-08-01,534,273.0,0.20,281.371135,0.007092,0.502083,...,8033.92,140.1,1.694298,1.427552,1,0,0.83,0.94,27870.40,0.5
30213,Hyderabad,Dine-in,965,2016-08-01,1410,317.0,0.20,333.437775,0.004619,0.120492,...,8033.92,140.1,2.065937,1.741613,1,0,0.83,0.94,27870.40,0.5
30226,Hyderabad,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40,0.5

In [7]:
#5)â€¢	Check the changed data types of each column and also see how many unique sales types are available in â€˜Mapped_Sales_Typeâ€™ column
print(df.dtypes)

df["Mapped_Sales_Type"].nunique()

City                                                  object
Mapped_Sales_Type                                     object
Mapped_Item_Code                                      object
Transaction_Date                              datetime64[ns]
Quantity_Sold                                          int64
Median_Price                                         float64
Average_Tax_Percent                                  float64
Effective_Price                                      float64
Percent_Quantity_With_Discount                       float64
Avg_Discount_Percent_On_Discounted_Items             float64
Year                                                   int64
Month                                                  int64
Day                                                   object
Car_sales                                            float64
F_and_B_Inflation                                    float64
F_and_B_Inflation_Adjusted_Effective_Price           float64
F_and_B_Inflation_Adjusted_Median_Price              float64
First_Week_Of_The_Month_Dummy                          int64
Last_Week_Of_The_Month_Dummy                           int64
Day_Of_The_Week_Seasonality                          float64
Month_Of_The_Year_Seasonality                        float64
Two_Wheeler_sales                                    float64
dtype: object

6

In [44]:
#6)â€¢	Extract only those records whose â€˜Avg_Discount_Percent_On_Discounted_Itemsâ€™ is lesser than 1.0 
#and do a sense check if the resulting data frame contains any values in the same column that are greater than or equal to 1.0
df=df.loc[df['Avg_Discount_Percent_On_Discounted_Items'] < 1.0 , :]

In [9]:
#7)â€¢	Create the below dictionary (dict_agg) and pass it as an argument for the aggregate function in order to roll up the
#results grouped by following order: 'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date'
#	dict_aggr = {'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}
#	sample syntax: df.groupby(<groupby list>).agg(dictionary)
dict_aggr={'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}
df.groupby(['City','Mapped_Sales_Type','Mapped_Item_Code','Transaction_Date']).agg(dict_aggr)

                                                               Quantity_Sold  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14                  109
                            4060             2018-06-14                  110
                            4063             2018-06-14                  110
          Delivery          4055             2017-02-14                  409
                                             2017-08-04                  377
                                             2017-08-05                  377
                                             2017-08-06                  638
                                             2017-08-07                  393
                                             2017-08-08                  320
                                             2017-08-09                  514
                                             2017-08-10                  405
                                             2017-08-11                  468
                                             2017-08-12                  462
                                             2017-08-13                  656
                                             2017-08-14                  345
                                             2017-08-17                  351
                                             2017-08-18                  456
                                             2017-08-19                  489
                                             2017-08-20                  612
                                             2017-08-21                  314
                                             2017-08-22                  401
                                             2017-08-23                  488
                                             2017-08-24                  386
                                             2017-08-26                  401
                                             2017-08-27                  618
                                             2017-08-28                  352
                                             2017-08-29                  338
                                             2017-08-30                  377
                                             2017-08-31                  399
                                             2017-10-02                  444
...                                                                      ...
          Take Away         4068             2018-05-02                  177
                                             2018-05-03                  177
                                             2018-05-04                  219
                                             2018-05-05                  235
                                             2018-05-06                  269
                                             2018-05-09                  184
                                             2018-05-12                  255
                                             2018-05-28                  180
                                             2018-06-21                  171
                                             2018-07-13                  188
                            965              2016-08-02                  113
                                             2017-08-12                  113
                                             2017-08-15                  113
                            970              2018-04-24                  112
                            978              2017-01-22                  112
                            9978             2018-04-20                  189
                                             2018-04-21                  170
                                             2018-04-22                  191
                                             2018-04-24                  157
                                             2018-04-25                  194
                                             2018-04-26                  182
                                             2018-04-27                  199
                                             2018-04-28                  183
                                             2018-04-29                  199
                                             2018-04-30                  187
                                             2018-05-01                  166
                                             2018-05-02                  192
                                             2018-05-03                  180
                                             2018-05-04                  195
                                             2018-05-06                  203

                                                               Median_Price  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14               359.0
                            4060             2018-06-14               378.0
                            4063             2018-06-14               732.0
          Delivery          4055             2017-02-14               250.0
                                             2017-08-04               260.0
                                             2017-08-05               260.0
                                             2017-08-06               260.0
                                             2017-08-07               260.0
                                             2017-08-08               260.0
                                             2017-08-09               260.0
                                             2017-08-10               260.0
                                             2017-08-11               260.0
                                             2017-08-12               260.0
                                             2017-08-13               260.0
                                             2017-08-14               260.0
                                             2017-08-17               260.0
                                             2017-08-18               260.0
                                             2017-08-19               260.0
                                             2017-08-20               260.0
                                             2017-08-21               260.0
                                             2017-08-22               260.0
                                             2017-08-23               260.0
                                             2017-08-24               260.0
                                             2017-08-26               260.0
                                             2017-08-27               260.0
                                             2017-08-28               260.0
                                             2017-08-29               260.0
                                             2017-08-30               260.0
                                             2017-08-31               260.0
                                             2017-10-02               260.0
...                                                                     ...
          Take Away         4068             2018-05-02               542.0
                                             2018-05-03               542.0
                                             2018-05-04               542.0
                                             2018-05-05               542.0
                                             2018-05-06               542.0
                                             2018-05-09               542.0
                                             2018-05-12               542.0
                                             2018-05-28               542.0
                                             2018-06-21               542.0
                                             2018-07-13               542.0
                            965              2016-08-02               230.0
                                             2017-08-12               334.0
                                             2017-08-15               334.0
                            970              2018-04-24               312.0
                            978              2017-01-22               658.2
                            9978             2018-04-20               187.0
                                             2018-04-21               187.0
                                             2018-04-22               187.0
                                             2018-04-24               187.0
                                             2018-04-25               187.0
                                             2018-04-26               187.0
                                             2018-04-27               187.0
                                             2018-04-28               187.0
                                             2018-04-29               187.0
                                             2018-04-30               187.0
                                             2018-05-01               187.0
                                             2018-05-02               187.0
                                             2018-05-03               187.0
                                             2018-05-04               187.0
                                             2018-05-06               187.0

                                                               Effective_Price
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14             314.270000
                            4060             2018-06-14             332.220000
                            4063             2018-06-14             666.760000
          Delivery          4055             2017-02-14             239.910873
                                             2017-08-04             264.113759
                                             2017-08-05             264.138571
                                             2017-08-06             264.223814
                                             2017-08-07             264.101702
                                             2017-08-08             263.712153
                                             2017-08-09             264.399256
                                             2017-08-10             264.203878
                                             2017-08-11             263.953389
                                             2017-08-12             264.249858
                                             2017-08-13             263.717248
                                             2017-08-14             264.021197
                                             2017-08-17             264.390917
                                             2017-08-18             264.163420
                                             2017-08-19             264.422804
                                             2017-08-20             264.273413
                                             2017-08-21             264.029064
                                             2017-08-22             263.951517
                                             2017-08-23             263.643448
                                             2017-08-24             263.854109
                                             2017-08-26             264.269448
                                             2017-08-27             264.309112
                                             2017-08-28             264.348672
                                             2017-08-29             264.048987
                                             2017-08-30             264.382481
                                             2017-08-31             264.401389
                                             2017-10-02             258.132553
...                                                                        ...
          Take Away         4068             2018-05-02             487.202121
                                             2018-05-03             487.202121
                                             2018-05-04             487.202037
                                             2018-05-05             487.202742
                                             2018-05-06             487.201266
                                             2018-05-09             535.109589
                                             2018-05-12             534.405833
                                             2018-05-28             535.031015
                                             2018-06-21             523.325333
                                             2018-07-13             533.900260
                            965              2016-08-02             205.790000
                                             2017-08-12             321.180000
                                             2017-08-15             336.580000
                            970              2018-04-24             269.860000
                            978              2017-01-22             580.040000
                            9978             2018-04-20             162.165385
                                             2018-04-21             167.893220
                                             2018-04-22             162.503250
                                             2018-04-24             161.878696
                                             2018-04-25             163.940482
                                             2018-04-26             168.476901
                                             2018-04-27             167.010227
                                             2018-04-28             167.634722
                                             2018-04-29             167.599546
                                             2018-04-30             164.592632
                                             2018-05-01             161.523636
                                             2018-05-02             169.316049
                                             2018-05-03             164.509565
                                             2018-05-04             164.507619
                                             2018-05-06             163.006087

[8902 rows x 3 columns]

In [10]:
#8)â€¢	Print first 5 observations where Effective_Price is not null
print(df["Effective_Price"].isna().sum())
df["Effective_Price"].dropna()
df["Effective_Price"].head()

0

5     305.354585
10    942.631515
20    378.840053
24    347.258327
26    618.898649
Name: Effective_Price, dtype: float64

In [11]:
#9)â€¢	Print first 10 observations where â€˜Cityâ€™ is â€˜Hyderabadâ€™ AND â€˜Mapped_Sales_Typeâ€™ is â€˜Deliveryâ€™
#	Hint: df.loc[(<condition 1>) & (<condition 2>), :].head(10)

df.loc[(df['City']=='Hyderabad') & (df['Mapped_Sales_Type']=='Delivery')].head(10)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
42,Hyderabad,Delivery,4058,2018-07-31,532,272.0,0.05,252.660214,0.014252,0.105008,...,Tue,7559.28,143.7,1.452054,1.384830,0,1,0.72,1.06,37307.52
46,Hyderabad,Delivery,4064,2018-07-31,261,682.0,0.05,683.031933,0.006667,0.105008,...,Tue,7559.28,143.7,4.446986,4.237996,0,1,0.76,1.06,37307.52
62,Hyderabad,Delivery,4068,2018-07-30,139,622.0,0.05,618.399286,0.035714,0.105009,...,Mon,7559.28,143.7,3.997211,3.820459,0,1,0.65,1.06,37307.52
75,Hyderabad,Delivery,4065,2018-07-30,133,752.0,0.05,750.476818,0.090909,0.105007,...,Mon,7559.28,143.7,4.916331,4.725122,0,1,0.60,1.06,37307.52
77,Hyderabad,Delivery,4056,2018-07-30,485,322.0,0.05,305.108823,0.013369,0.105004,...,Mon,7559.28,143.7,1.817041,1.732777,0,1,0.72,1.06,37307.52
88,Hyderabad,Delivery,4064,2018-07-30,230,682.0,0.05,680.233950,0.050420,0.105005,...,Mon,7559.28,143.7,4.427515,4.237996,0,1,0.61,1.06,37307.52
89,Hyderabad,Delivery,4058,2018-07-30,473,272.0,0.05,252.668923,0.013812,0.105005,...,Mon,7559.28,143.7,1.452115,1.384830,0,1,0.71,1.06,37307.52

In [12]:
#10)â€¢	Print first 3 observations where Percent_Quantity_With_Discount is not equal to zero
#	Hint: use != operator

df.loc[df["Percent_Quantity_With_Discount"]!=0].head(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52

In [13]:
#11)â€¢	Create a new column â€˜Rangeâ€™ and populate it as 1 if Effective_Price is greater than 500, else 0.5
#	Hint: df[â€˜New columnâ€™] = np.where(<condition>, if true, if false)
df['Range']=np.where((df["Effective_Price"]>500),1,0.5)
df[['Effective_Price','Range']]

       Effective_Price  Range
5           305.354585    0.5
10          942.631515    1.0
20          378.840053    0.5
24          347.258327    0.5
26          618.898649    1.0
34          364.051923    0.5
35          344.194296    0.5
42          252.660214    0.5
46          683.031933    1.0
49          243.104774    0.5
52          378.493636    0.5
58          347.205525    0.5
59          363.924583    0.5
62          618.399286    1.0
66          294.765442    0.5
67          294.800190    0.5
75          750.476818    1.0
77          305.108823    0.5
84         1196.499388    1.0
88          680.233950    1.0
89          252.668923    0.5
94          951.091177    1.0
97          431.095701    0.5
103         241.915126    0.5
107         598.403592    1.0
108         431.242095    0.5
109         347.152999    0.5
115        1037.136667    1.0
117        1248.265909    1.0
124         955.302532    1.0
...                ...    ...
30110       222.687892    0.5
30114      1068.087857    1.0
30119       333.196440    0.5
30120       223.036438    0.5
30121      1187.601613    1.0
30126       281.550490    0.5
30136       203.530381    0.5
30138       532.479140    1.0
30141      1140.542920    1.0
30144       345.780022    0.5
30152       281.205117    0.5
30155       314.086238    0.5
30165      1176.683455    1.0
30167       233.194863    0.5
30169      1065.566471    1.0
30174      1133.900000    1.0
30176       751.890943    1.0
30177       280.696880    0.5
30181       332.166267    0.5
30184       345.136586    0.5
30185       205.790000    0.5
30186       280.739704    0.5
30187       303.790980    0.5
30194       201.245210    0.5
30197       345.220654    0.5
30198       222.456760    0.5
30201      1135.791961    1.0
30212       281.371135    0.5
30213       333.437775    0.5
30226       232.033552    0.5

[8902 rows x 2 columns]

In [14]:
df.corr()

,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Year,Month,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Range
Quantity_Sold,1.000000,-0.467360,0.022457,-0.454393,-0.271993,0.417053,-0.036635,-0.012057,0.057912,-0.051005,-0.452532,-0.466015,-0.003463,0.010246,0.129146,0.013887,0.039704,-0.532969
Median_Price,-0.467360,1.000000,-0.056963,0.992138,0.171848,-0.306836,0.105274,-0.028174,-0.059263,0.009616,0.990558,0.999439,0.006266,-0.008785,0.031324,0.021583,0.058554,0.873084
Average_Tax_Percent,0.022457,-0.056963,1.000000,0.033573,0.006758,0.182217,-0.775221,0.331535,0.356141,-0.097113,0.037442,-0.053275,0.034988,-0.036506,-0.019655,-0.228663,-0.444453,-0.053538
Effective_Price,-0.454393,0.992138,0.033573,1.000000,0.115073,-0.288437,0.031377,-0.004020,-0.013431,-0.010019,0.999416,0.992558,0.012081,-0.010996,0.032553,-0.000183,0.026629,0.856776
Percent_Quantity_With_Discount,-0.271993,0.171848,0.006758,0.115073,1.000000,-0.226071,0.089721,0.107793,-0.279591,0.243400,0.107375,0.164181,-0.019160,0.000833,-0.015892,0.047991,-0.158294,0.281752
Avg_Discount_Percent_On_Discounted_Items,0.417053,-0.306836,0.182217,-0.288437,-0.226071,1.000000,-0.273038,0.064557,0.164277,-0.130998,-0.285587,-0.304338,0.016120,-0.023637,-0.022367,-0.050053,-0.141375,-0.301492
Year,-0.036635,0.105274,-0.775221,0.031377,0.089721,-0.273038,1.000000,-0.619655,-0.461883,0.100249,0.028065,0.102466,0.000524,0.008290,0.008251,0.008225,0.685436,0.072916
Month,-0.012057,-0.028174,0.331535,-0.004020,0.107793,0.064557,-0.619655,1.000000,0.294714,0.495549,-0.017774,-0.042141,-0.002215,-0.018926,-0.002898,0.152014,-0.502005,-0.006514
Car_sales,0.057912,-0.059263,0.356141,-0.013431,-0.279591,0.164277,-0.461883,0.294714,1.000000,-0.082022,-0.010783,-0.056618,-0.013818,0.004689,0.009634,-0.096842,0.189010,-0.064521
F_and_B_Inflation,-0.051005,0.009616,-0.097113,-0.010019,0.243400,-0.130998,0.100249,0.495549,-0.082022,1.000000,-0.038140,-0.018041,-0.005152,-0.015355,0.006856,0.024730,0.004691,0.024783
F_and_B_Inflation_Adjusted_Effective_Price,-0.452532,0.990558,0.037442,0.999416,0.107375,-0.285587,0.028065,-0.017774,-0.010783,-0.038140,1.000000,0.992120,0.011885,-0.010008,0.032391,-0.000900,0.026087,0.854590
F_and_B_Inflation_Adjusted_Median_Price,-0.466015,0.999439,-0.053275,0.992558,0.164181,-0.304338,0.102466,-0.042141,-0.056618,-0.018041,0.992120,1.000000,0.006143,-0.007811,0.031181,0.020568,0.058373,0.871846
First_Week_Of_The_Month_Dummy,-0.003463,0.006266,0.034988,0.012081,-0.019160,0.016120,0.000524,-0.002215,-0.013818,-0.005152,0.011885,0.006143,1.000000,-0.304054,-0.000827,-0.006651,-0.001675,0.007064
Last_Week_Of_The_Month_Dummy,0.010246,-0.008785,-0.036506,-0.010996,0.000833,-0.023637,0.008290,-0.018926,0.004689,-0.015355,-0.010008,-0.007811,-0.304054,1.000000,0.002318,0.002287,0.002576,-0.010976
Day_Of_The_Week_Seasonality,0.129146,0.031324,-0.019655,0.032553,-0.015892,-0.022367,0.008251,-0.002898,0.009634,0.006856,0.032391,0.031181,-0.000827,0.002318,1.000000,0.014964,0.019998,0.027427
Month_Of_The_Year_Seasonality,0.013887,0.021583,-0.228663,-0.000183,0.047991,-0.050053,0.008225,0.152014,-0.096842,0.024730,-0.000900,0.020568,-0.006651,0.002287,0.014964,1.000000,-0.132641,0.024114
Two_Wheeler_sales,0.039704,0.058554,-0.444453,0.026629,-0.158294,-0.141375,0.685436,-0.502005,0.189010,0.004691,0.026087,0.058373,-0.001675,0.002576,0.019998,-0.132641,1.000000,0.016123
Range,-0.532969,0.873084,-0.053538,0.856776,0.281752,-0.301492,0.072916,-0.006514,-0.064521,0.024783,0.854590,0.871846,0.007064,-0.010976,0.027427,0.024114,0.016123,1.000000

In [15]:
#12)â€¢	Split the dataset into X and Y based on below list:
# x = 'Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent',  'Effective_Price',
# 'Percent_Quantity_With_Discount',       'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation', 
# 'F_and_B_Inflation_Adjusted_Effective_Price',       'F_and_B_Inflation_Adjusted_Median_Price'.         
# And  y = â€˜Quantity_Soldâ€™

X=df[['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent',  'Effective_Price','Percent_Quantity_With_Discount',
      'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation',
     'F_and_B_Inflation_Adjusted_Effective_Price','F_and_B_Inflation_Adjusted_Median_Price']]

Y=df[['Quantity_Sold']]

In [16]:
X.isna().sum()

Mapped_Item_Code                              0
Median_Price                                  0
Average_Tax_Percent                           0
Effective_Price                               0
Percent_Quantity_With_Discount                0
Avg_Discount_Percent_On_Discounted_Items      0
Car_sales                                     0
F_and_B_Inflation                             0
F_and_B_Inflation_Adjusted_Effective_Price    0
F_and_B_Inflation_Adjusted_Median_Price       0
dtype: int64

In [17]:
X=X.fillna(0)

In [18]:
Y.head()

    Quantity_Sold
5             617
10            144
20           1250
24           1934
26            148

In [19]:
#13)â€¢	Run the Linear Regression model on the above x and y features. 
#Feel free to explore the modeling parameters and come up with a high R2

X.isna().sum()

Mapped_Item_Code                              0
Median_Price                                  0
Average_Tax_Percent                           0
Effective_Price                               0
Percent_Quantity_With_Discount                0
Avg_Discount_Percent_On_Discounted_Items      0
Car_sales                                     0
F_and_B_Inflation                             0
F_and_B_Inflation_Adjusted_Effective_Price    0
F_and_B_Inflation_Adjusted_Median_Price       0
dtype: int64

In [20]:
Y.isna().sum()

Quantity_Sold    0
dtype: int64

In [21]:
X.head()

,Mapped_Item_Code,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price
5,4056,322.0,0.05,305.354585,0.003953,0.105020,7559.28,143.7,1.818751,1.732777
10,4061,942.0,0.05,942.631515,0.151515,0.105006,7559.28,143.7,6.253525,6.047321
20,966,392.0,0.05,378.840053,0.003512,0.105008,7559.28,143.7,2.330133,2.219903
24,965,362.0,0.05,347.258327,0.001646,0.420000,7559.28,143.7,2.110357,2.011134
26,4068,622.0,0.05,618.898649,0.027027,0.105009,7559.28,143.7,4.000686,3.820459

In [22]:
X.corr()

,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price
Median_Price,1.000000,-0.056963,0.992138,0.171848,-0.306836,-0.059263,0.009616,0.990558,0.999439
Average_Tax_Percent,-0.056963,1.000000,0.033573,0.006758,0.182217,0.356141,-0.097113,0.037442,-0.053275
Effective_Price,0.992138,0.033573,1.000000,0.115073,-0.288437,-0.013431,-0.010019,0.999416,0.992558
Percent_Quantity_With_Discount,0.171848,0.006758,0.115073,1.000000,-0.226071,-0.279591,0.243400,0.107375,0.164181
Avg_Discount_Percent_On_Discounted_Items,-0.306836,0.182217,-0.288437,-0.226071,1.000000,0.164277,-0.130998,-0.285587,-0.304338
Car_sales,-0.059263,0.356141,-0.013431,-0.279591,0.164277,1.000000,-0.082022,-0.010783,-0.056618
F_and_B_Inflation,0.009616,-0.097113,-0.010019,0.243400,-0.130998,-0.082022,1.000000,-0.038140,-0.018041
F_and_B_Inflation_Adjusted_Effective_Price,0.990558,0.037442,0.999416,0.107375,-0.285587,-0.010783,-0.038140,1.000000,0.992120
F_and_B_Inflation_Adjusted_Median_Price,0.999439,-0.053275,0.992558,0.164181,-0.304338,-0.056618,-0.018041,0.992120,1.000000

In [23]:
X=X.drop(["F_and_B_Inflation_Adjusted_Effective_Price","Effective_Price","Median_Price"],axis=1)

In [24]:
X.columns

Index(['Mapped_Item_Code', 'Average_Tax_Percent',
       'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items', 'Car_sales',
       'F_and_B_Inflation', 'F_and_B_Inflation_Adjusted_Median_Price'],
      dtype='object')

In [25]:
Y.columns

Index(['Quantity_Sold'], dtype='object')

In [26]:
Frames=[X,Y]
Modified_Frame=pd.concat(Frames,sort=False)

In [27]:
Modified_Frame.columns

Index(['Mapped_Item_Code', 'Average_Tax_Percent',
       'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items', 'Car_sales',
       'F_and_B_Inflation', 'F_and_B_Inflation_Adjusted_Median_Price',
       'Quantity_Sold'],
      dtype='object')

In [28]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=123)

In [29]:
lr = LinearRegression()

In [30]:
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [31]:
train_pred = lr.predict(X_train)

In [32]:
test_pred = lr.predict(X_test)

In [33]:
metrics.mean_squared_error(Y_train,train_pred)

233723.71075767715

In [34]:
metrics.mean_squared_error(Y_test,test_pred)

213983.74710618192

In [35]:
metrics.mean_absolute_error(Y_train,train_pred)

326.1292357225966

In [36]:
metrics.mean_absolute_error(Y_test,test_pred)

317.0004423162179

In [37]:
metrics.r2_score(Y_test,test_pred)

0.42557558862127676

In [38]:
#14)â€¢	While fitting x and y to get stats summary, data type of x should be converted to float due to categorical features, otherwise the summary would return error
#	Hint: sm.OLS(y, x.astype(float)).fit()


sm_output=sm.OLS(Y,X.astype(float)).fit()

In [39]:
sm_output.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Quantity_Sold   R-squared:                       0.738
Model:                            OLS   Adj. R-squared:                  0.738
Method:                 Least Squares   F-statistic:                     3588.
Date:                Wed, 08 May 2019   Prob (F-statistic):               0.00
Time:                        11:05:10   Log-Likelihood:                -67540.
No. Observations:                8902   AIC:                         1.351e+05
Df Residuals:                    8895   BIC:                         1.351e+05
Df Model:                           7
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
Mapped_Item_Code                            -0.1597      0.004    -41.930      0.000      -0.167      -0.152
Average_Tax_Percent                      -1593.1459     89.652    -17.770      0.000   -1768.885   -1417.407
Percent_Quantity_With_Discount            -110.5995     22.993     -4.810      0.000    -155.671     -65.528
Avg_Discount_Percent_On_Discounted_Items   746.8529     23.915     31.229      0.000     699.974     793.732
Car_sales                                   -0.0110      0.007     -1.518      0.129      -0.025       0.003
F_and_B_Inflation                           12.0130      0.378     31.741      0.000      11.271      12.755
F_and_B_Inflation_Adjusted_Median_Price   -151.1162      2.963    -51.007      0.000    -156.924    -145.309
==============================================================================
Omnibus:                     2489.015   Durbin-Watson:                   1.893
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8965.496
Skew:                           1.375   Prob(JB):                         0.00
Kurtosis:                       7.076   Cond. No.                     1.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""